<link href="https://fonts.googleapis.com/css?family=Nosifer&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Original+Surfer&display=swap" rel="stylesheet">
<div class="image">
<h1 id="home">Welcome to Quote App.</h1>
<a class="btn btn-primary" href="#auth">Authentication</a>
<br>
<br>
<button class="btn btn-danger"><a href="#body" style="color:black;font-size:20px">Get Started</a></button>
</div>
<div class="body" id="body">
  <h1 id="quote" style="color:gold">Quote App</h1>  
  <hr>
  <div class="row">
    <div class="col-md-6">
    <hr>
    <div *ngFor='let quote of sort;let i= index'>
      
        <h6><b><i>{{quote.quoteIt}}</i></b></h6>
        <h6>Author: {{quote.author}}</h6>
        <h6><i style="color:lightgreen">UpVotes:{{quote.upVote}}</i> <i style="margin-left:30px;color:red">DownVotes:{{quote.downVote}}</i></h6>

        <button class="btn btn-primary" (click)='toggle(i)'>More INFO</button>
        
        <div *ngIf='quote.showSubmitter'>
          <app-quote-detail [quote]='quote' (Delete) = 'deleteQuote($event,i)' (isupVote) = 'votingYes($event,i)' (isdownVote)="votingNo($event,i)"></app-quote-detail>
        </div>
        <hr>
      </div>          
    </div>
    <div class="col-md-6">
      <div class="trend">
        <h2>Trending Quote.</h2>
        <p appHighlight><b>{{quotes[0].quoteIt}}</b> by <i>{{quotes[0].author}}</i></p>
        
      </div>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>

</div>
<app-register id="auth"></app-register>

