<div class="image">
<h1 id="home">Welcome to Quote App.</h1>
<button class="btn btn-danger"><a href="#body" style="color:black;font-size:20px">Get Started</a></button>
</div>
<div class="body" id="body">
  <h1>Quote App</h1>  
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i= index'>
      
        <h6><b>{{quote.quoteIt}}</b></h6>
        <h6>Author: {{quote.author}}</h6>
        <h6><i>UpVotes:{{quote.upVote}}</i> <i style="margin-left:30px">DownVotes:{{quote.downVote}}</i></h6>

        <button class="btn btn-primary" (click)='toggle(i)'>More INFO</button>
        
        <div *ngIf='quote.showSubmitter'>
          <app-quote-detail [quote]='quote' (isDelete) = 'deleteQuote($event,i)' (isupVote) = 'votingYes($event,i)' (isdownVote)="votingNo($event,i)"></app-quote-detail>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
  </div>

</div>
