<div class="container-fluid">
  <h2 class="text-center">Post a new Quote</h2>
  <hr>
  <form>
      <div class="form-group">

          <label for="author">Author</label>
          <input type="text" required class="form-control" id="author">

      </div>
      <div class="form-group">

          <label for="quoteIt">Quote</label>
          <textarea class="form-control" id="quoteIt" rows="4" required></textarea>

      </div>
      <div class="form-group">
          <label for="submitter">Name of Submitter</label>
          <input type='text' id="submitter" required>

      </div>
      <div class="form-group">
          <label for="createdDate">Date of post</label>
          <input type='date' id="createdDate" required>

      </div>
  </form>
</div>