<div class="container-fluid">
  <h2 class="text-center" style="color:yellow"><b>Post a new Quote</b></h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">
      <label for="author" style="color:darkorange"><b>Author</b></label>
      <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'>
      <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
        <p>Author Name is required!</p>
      </div>
      <p>{{newQuote.author}}</p>
    </div>

    <div class="form-group">
      <label for="quoteIt" style="color:darkorange"><b>Quote</b></label>
      <textarea required class="form-control" id="quoteIt" rows="4" [(ngModel)]="newQuote.quoteIt" name="quoteIt" #quoteIt='ngModel'></textarea>
      <div [hidden]="quoteIt.valid || quoteIt.pristine" class="alert alert-danger">
        <p>Quote is required!</p>
      </div>
      <p>{{newQuote.quoteIt}}</p>
    </div>

    <div class="form-group">
      <label for="submitter" style="color:darkorange"><b>Name of Submitter</b></label>
      <input type='text' id="submitter" required class="form-control" [(ngModel)]="newQuote.submitter" name="submitter" #submitter='ngModel'>
      <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger">
        <p>Submitter Name is required!</p>
      </div>
        <p>{{newQuote.submitter}}</p>
    </div>
    <div class="form-group">
        <label for="createdDate" style="color:darkorange"><b>Date of post</b></label>          
        <p>{{newQuote.createdDate|date}}</p>
    </div>
    <button type="submit" class="btn btn-block btn-success"><b>Post Quote</b></button>
  </form>
</div>