<link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Original+Surfer&display=swap" rel="stylesheet">
<div class="container-fluid">
  <h2 class="text-center" style="color:yellow"><b>Post a new Quote</b></h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' name="quoteForm">

      <div class="form-group">

          <label for="author" style="color:darkorange"><b>Author's Name</b></label>
          <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' ng-required="true">          
          
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author Name is required</p>
          </div>
      </div>
      <div class="form-group">

          <label for="quoteIt" style="color:darkorange"><b>Quote</b></label>
          <textarea class="form-control" id="quoteIt" rows="4" required [(ngModel)]="newQuote.quoteIt" name="quoteIt" #quoteIt='ngModel' ng-required="true"></textarea>
          
          <div [hidden]="quoteIt.valid || quoteIt.pristine" class="alert alert-danger">
            <p>Quote field is required</p>
          </div>
      </div>
      <div class="form-group">

          <label for="submitter" style="color:darkorange"><b>Name of Person Submiting</b></label>
          <input type="text" required class="form-control" id="submitter" [(ngModel)]="newQuote.submitter" name="submitter" #submitter='ngModel' ng-required="true">

          <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger">
            <p>Person Submitting Name is required</p>
          </div>
      </div>
      <div class="form-group">
        <label for="createdDate" style="color:darkorange"><b>Date of post</b></label>          
        <p>{{newQuote.createdDate|date}}</p>
      </div>
      <button type="submit" class="btn btn-block btn-success"><b>Post Quote</b></button>
      <button type="reset" class="btn btn-block btn-danger"><b>Clear Fields</b></button>
  </form>
</div>